.bcg_CinzaEscuro{background-color: #333333;}
.bcg_Branco{background-color: #FFFFFF;}
.bcg_Roxo{background-color: #552583;}
.bcg_Amarelo{background-color: #FFD21F;}
.bcg_CinzaClaro{background-color: #C4C4C4;}

.cor_CinzaEscuro{color: #333333;}
.cor_Branco{color: #FFFFFF;}
.cor_Roxo{color: #552583;}
.cor_Amarelo{color: #FFD21F;}
.cor_CinzaClaro{color: #C4C4C4;}
