@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
    --cor00: #ffd21f;
    --cor01: #552583;
    --cor02: #333333;
    --cor03: #e9ecef;
    --cor04: #FFFFFF;
    --fonte-padrao: 'Open Sans', sans-serif;
}

/* Estilos globais */
body {
    font-family: var(--fonte-padrao);
    margin: 0;
    padding: 0;
    background-color: var(--cor02) !important;
    line-height: 1.6;
}

/* Define o fundo da navbar*/
.bcg_CinzaEscuro {
    background-color: #333333;
}

/* Estilos da imagem do header */
.imagem {
    background-color: var(--cor00);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

/* Título da seção de Como posso ajudar? */

.container {
    background-color: var(--cor00);
    border-radius: 12px;
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
}
.titulo-duvida {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor02);
}

.titulo-link {
    font-size: 1rem;
    color: var(--cor02);
    background-color: var(--cor00);
}

.titulo-link a {
    text-decoration: underline;
    color: var(--cor02);
}

/* Estilos do FAQ */
.faq {
    width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--cor01);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo-perguntas {
    color: var(--cor04);
    text-align: center;
    margin-bottom: 1.5rem;
}

details {
    background-color: var(--cor03);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

summary {
    font-size: 1.25rem;
    color: var(--cor02);
    outline: none;
}

details[open] summary {
    font-weight: bold;
}

details p {
    margin-top: 20px;
    padding: 20px;
    color: var(--cor02);
    background-color: var(--cor00);
    border: 1px solid var(--cor05);      
    border-radius: 8px;       
}

/* Estilos da seção de contato */
.faq-contact {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--cor00);
    color: var(--cor02);
    border-radius: 8px;
}

.contact-btn {
    display: inline-block;
    margin-top: 1rem;
    color: var(--cor04);
    padding: 0.5rem 1rem;
    background-color: var(--cor01);
    border-radius: 5px;
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo-duvida {
        font-size: 1.75rem;
        padding: 1.5rem;
    }

    .faq {
        padding: 1rem;
    }

    details {
        padding: 0.75rem;
    }

    .faq-contact {
        padding: 1rem;
    }

    .contact-btn {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .titulo-duvida {
        font-size: 1.5rem;
        padding: 1rem;
    }

    details {
        padding: 0.5rem;
    }

    .contact-btn {
        padding: 0.25rem 0.75rem;
    }
}
