*{
    padding: 0;
    margin: 0;
}

.bcg_CinzaEscuro{background-color: #333333;}
.bcg_Branco{background-color: #FFFFFF;}
.bcg_Roxo{background-color: #552583;}
.bcg_Amarelo{background-color: #FFD21F;}
.bcg_CinzaClaro{background-color: #e9ecef;}


.cor_CinzaEscuro{color: #333333;}
.cor_Branco{color: #FFFFFF;}
.cor_Roxo{color: #552583;}
.cor_Amarelo{color: #FFD21F;}
.cor_CinzaClaro{color: #e9ecef;}



.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    color:#FFFFFF;
}

.sidebar a:hover{
    color:#552583;
}

.nav-custos{
    min-width: 528px;
}

.main {
    text-align: center;
    
    
}

.perfil {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;

}


.main-content {
    margin:auto;
    margin-bottom: 70px; 
    width: 40%;

}



.botao_atualizar{
    margin-top: 35px;
    
}

.btn-atualizar{
    background-color: #552583;
    
}

.btn-atualizar:hover{
    background-color: #333333;
    color: #FFFFFF;
}

.card-embalagens {
    width: 90%;

}

.card-configurar{
    width: 90%;
    margin-left: 63px;
}


.card-title {
    margin-bottom: 35px;
    
}

.form-label {
    margin-top: 20px;
}

.card-body{
    background-color:#e9ecef;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}


.embalagens {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
}


ul {
    list-style: url(../images/botao_editar.svg);
}

.table {
    font-size: 12px;
}

.botao_adicionar{
    margin-top: 35px;
    
}

.btn-adicionar{
    background-color: #552583;

}

.btn-adicionar:hover{
    background-color: #333333;
    color: #FFFFFF;
}

.frete {
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: left;
}

.card-frete {
    width: 90%;
    margin-bottom: 50px;

}



.custos{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: left;
}


.card-demaiscustos{
    padding: 15px;
    padding-top: 15px;
    width: 50%;
    padding-left: 15px;
    background-color:#FFD21F;
    padding-bottom: 15px;
    

}


@media(max-width: 767.98px) {
    .card-demaiscustos{
        width: 100%;
        min-width:fit-content;
    }

}

.botao_configurar{
    margin-top: 20px;
    
}

.btn-configurar{
    background-color: #552583;

}

.btn-configurar:hover{
    background-color: #333333;
    color: #FFFFFF;
}


.containercusto {
    margin-left: 10px;
}
    

.card-title-custo{
    margin-top: 30px;
}

.container-demaiscustos{
    padding-left: 55px;
    margin-bottom: 50px;
}

.demaiscustos_input{
    min-width: 100px;
}

.row-demaiscustos{
    align-items: baseline;
    min-width: 375px;
}