/* cores */
.bcg_CinzaEscuro{background-color: #333333;}
.bcg_Branco{background-color: #FFFFFF;}
.bcg_Roxo{background-color: #552583;}
.bcg_Amarelo{background-color: #FFD21F;}
.bcg_CinzaClaro{background-color: #E9ECEF;}

/* Fundo das telas */
body {
    background-color: #333 !important;
}

/* Tela da lista de produtos */
#listaProdutos {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #E9ECEF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Tela de cadastrar os produtos */
#cadastroProdutos {
    margin: 10px auto;
    background-color: #333;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 500px;
}

/*card da lista de produtos */
#card-lista {
    padding: 10px 10px;
    margin: 20px auto;
    width: 100%;
    background-color: #FFD21F !important;
    border-radius: 10px;
}

/*card do formulário de cadastro */
#card-cadastro{
    padding: 10px 10px;
    margin: 50px auto;
    width: 550px;
    background-color: #FFD21F !important;
    border-radius: 10px;
}

/* Título */
h1 {
    background-color: #552583;
    color: #FFFFFF !important;
    border-radius: 10px;
    padding: 5px;
}

/* Tabela da lista de produtos */
table {
    background-color: #E9ECEF !important;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

/* Ajuste de padding e tamanho de fonte para telas pequenas */
@media (max-width: 768px) {
    table th, table td {
        padding: 6px;
        font-size: 12px;
    }
}

/* Cabeçalho/colunas e linhas da tabela de produtos */
table th, table td {
    font-size: 14px;
    padding: 8px;
    text-align: center;
}

.iconBtn {
    border: none;
    background-color: transparent;
}

/* Botões de editar/excluir da tabela de produtos */
.iconBtn:hover{
    opacity: 0.8;
}

/* Botões */
.btn-primary {
    width: 100%;
    margin-top: 5px;
    border: #552583 !important;
    background-color: #552583 !important;
    color: #ffffff !important;
}

/* Hover dos botões das 2 telas */
.btn-primary:hover, .btn-outline-success:hover {
    background-color: #333 !important;
}

/*formulário de cadastro */
.tab-content{
    background-color: #E9ECEF !important;
}

/* Input da tela de cadastrar produtos */
input {
    width: 100%;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px;
}

/* Modal de edição de produto */
#modalEditarProduto {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente escuro */
    overflow: auto;
}

/* Conteúdo do modal */
.modal-content {
    background-color: #333333; /* Alterado para cinza escuro */
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    color: #FFFFFF; /* Define o texto para branco para melhor contraste */
}

#bg{
    background-color: #333;
    color: #FFFFFF;
}

/* Botão de fechar o modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Título do modal */
.modal-content h2 {
    background-color: #552583;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

/* Formulário de edição */
#formEditarProduto label {
    display: block;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    
}

#formEditarProduto input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #E9ECEF;
}

/* Botão de salvar dentro do modal */
#formEditarProduto button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #552583;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

#formEditarProduto button:hover {
    background-color: #333333;
}