@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
    --cor00: #ffd21f;
    --cor01: #552583;
    --cor02: #333333;
    --cor03: #e9ecef;
    --cor04: #FFFFFF;

    --fonte-padrao: 'Open Sans', sans-serif;
}

/* Estilo global */
body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor02) !important;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* Container principal */
.total {
    width: 80%;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--cor00);
    margin: 0 auto;
}

/* Títulos */
h2 {
    font-size: 1.5rem !important;
    color: var(--cor04) !important;
    background-color: var(--cor01);
    padding: 0.75rem;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1.25rem;
}

/* Seções de vendas e custos */
.vendas-container, .custos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    padding: 1.25rem 0;
}

/* Cartões de vendas e custos */
.vendas-classico, .vendas-premium, .custos-classico, .custos-premium {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--cor03);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/*Caixas de resultado */

.caixa-resultado {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 8px; 
    box-sizing: border-box;
    background-color: var(--cor04);
}
/* Botão*/
.button-calculo {
    display: block;
    width: 30%;
    padding: 0.75rem;
    background-color: var(--cor01);
    color: var(--cor04);
    border: none;
    border-radius: 4px !important;
    font-size: 1.4rem !important;
    margin: auto !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-calculo:hover {
    background-color: var(--cor02);
}

/* Responsividade */
@media (max-width: 768px) {
    .vendas-container, .custos-container {
        grid-template-columns: 1fr;
    }

    button {
        width: 50%;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.25rem;
    }

    button {
        width: 100%;
    }
}
